.tab_indicator {
    display: none !important;
}

.tabs_root {
    background-color: #dddddd !important;
    border-radius: 4px !important;
    color: black !important;
    font-size: 14px !important;
    margin-right: 6px !important;
    padding: 10px !important;
    min-height: unset !important;
    height: 40px !important;
}

.tab_selected {
    background-color: #171717 !important;
    color: white !important;
}

.fex_container {
    flex-wrap: wrap;
    gap: 5px;
}